.alphabetpicker-data {

  .x-view-item-focused {
    outline: none !important;
  }

  .alphabetpicker-item {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .alphabetpicker-item-icon {
      visibility: hidden;
    }

    &.x-item-selected {
      color: $base-color;

      .alphabetpicker-item-icon {
        visibility: visible;
      }
    }
  }
}